@model Element
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post" asp-action="">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" />
        <label asp-for="Value"></label>
        <input type="text" asp-for="Value" />
        <button type="submit">Submit</button>
    </form>
</div>
